/* Make classes larger  */
li.parent.js-menu-classes-list.opened ul.nav.with-indicators {
    max-height: min-content !important;
}
li.parent.js-menu-classes-list.opened ul.nav.with-indicators li {
    font-size: large;
}

/* Make the faria one os disappear */
li.faria-one {
    display: none !important;
}